/*  

IE sheets - mainly workarounds for CSS3 properties that 
aren't implemented properly with CSS3PIE

*/

ul#slide-tabs {

   border-right: 1px #dedede solid;
   behavior: url(/wp-content/themes/ckg-media/PIE/PIE.php);

}

/****** Padded Images: PIE doesnt support box shadow opacity *********/

#front-box-1 img, #front-box-2 img, #sidebar img, #category-list img {
  /* filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) progid:DXImageTransform.Microsoft.Shadow(color='#777', Direction=135, Strength=2); */
  box-shadow: 1px 1px 2px 2px #eeede1;
  behavior: url(/wp-content/themes/ckg-media/PIE/PIE.php);
}


/* IE6 doenst seem to recognise font-face?

* html h1, * html h2, * html h3, * html h4, * html h5, * html h6 {
  font-style: italic;
}
